<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background: skyblue; font-family: verdana; color: #fff; padding: 10px;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 1px; text-align: center;}
        p{font-size: 20px; text-align: center;}
    </style>
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Contact US!</h1>
    <p>Contact the coolest cats on the web right here...</p>
</body>
</html>