<!DOCTYPE html>
<html lang="en">
<head>
</head>
<link rel="stylesheet" href="/public/contact.css">
<body>
    <% include partials/nav.ejs %>
    <h1>Contact US!</h1>
    <p>Contact the coolest cats on the web right here...</p>


</body>
</html>
